/*Estilos css*/
/* Author: @yubelec;*/
/*Personalizando logo*/
#logo {
	margin: 0.5em 0.5em 0.5em 0.5em;
	position: center;
	right: 0;
	top: 0;
}

#logo a{
	color:#4EACD2;
	font-size: 16px;
	font-family: "Helvetica"
}